#bloc_page
{
	width: 470px; /*Largeur du bloc*/ 
	height: 40px; /*Hauteur du bloc*/ 
	margin: auto; /*Centrer le bloc*/
	color: red;
	text-align: center;
	border-radius: 0px 0px 6px 6px; /*En haut gauche, en haut droite, en bas droite, en bas gauche*/
	margin-bottom: 5px;
	font-size: 14.5px;
	background-image: url('images/image_fond.png'); /*image d'arrière plan*/
	background-attachment: fixed; /* Le fond restera fixe */
	font-family: Arial, "Arial Black","Times New Roman", Verdana, sans-serif; /* Police de caractère différente */
}