body
{
    font-family: Arial, "Arial Black","Times New Roman", Verdana, sans-serif; /* Police de caractère différente */
	color: black;
}

#bloc_page
{
	width: 1510px; /*Largeur du bloc*/ 
	margin: auto; /*Centrer le bloc*/
}

header
{
	display: flex; /*Aligner en ligne*/ 
	justify-content: space-between; /*Mettre de l'espace entre les blocs*/ 
	align-items: flex-start; /*Aligner en-haut, au début*/ 
	background-image: url('images/image_banniere.jpg');
	height: 400px;

}

#titre_principal
{
	color: white;
	width: 600px;
	font-size: 23px;
    font-weight: normal;
    margin-left: 250px;
    margin-top: 110px;
}

#logo
{
	width: 30px;
    height: 40px;
}

nav ul
{
	list-style-type: none; /*Pour enlever les puces*/
    display: flex; /*Pour aligner en ligne*/
}

nav li
{
    margin-right: 18px;
}

nav a /*Sélectioner tous les liens à l'intérieur de la balise nav*/
{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none; /*Enlever les tiret en bas des liens*/
}

nav a:hover /*Quand je survole les liens*/
{
    color: blue;
}

#bouton_annonce
{
	background-color: rgb(255,146,36);
	border: 1px solid rgb(255,146,36);
	border-radius: 6px;
	padding: 14px
}

#titre_1
{
	font-size: 20px;
	width: 700px;
	margin: auto;
	margin-bottom: 50px;
}

#option_colocation
{
	display: flex;
	width: 1150px;
	height: 420px;
	margin: auto;
	justify-content: space-around; /*Mettre de l'espace entre les blocs*/ 
}

.option
{
	width: 290px;
	text-align: center;
} 

.bouton_divers
{
	background-color: rgb(6,139,249);
	border: 1px solid rgb(6,139,249);
	border-radius: 6px;
	padding: 10px;
}

#option_colocation a 
{
	font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none; /*Enlever les tiret en bas des liens*/
}

#option_colocation p 
{
	margin-bottom: 30px;
}

#option_colocation a:hover /*Quand je survole les liens*/
{
    color: black;
    text-decoration: underline;
}

#dernieres_annonces
{
	font-size: 20px;
	width: 700px;
	margin: auto;
	margin-bottom: 80px;
}

#titre_2
{
	font-size: 20px;
	width: 600px;
	margin: auto;
	margin-bottom: 5px;
}

#partenaires
{
	display: inline-flex;
	width: 1450px;
	height: 190px;
	margin: auto;
	justify-content: space-around; /*Mettre de l'espace entre les blocs*/ 
}

#partenaires a
{
	font-size: 15px;
	color: blue;
    text-decoration: none;
}

#partenaires a:hover /*Quand je survole les liens*/
{
    color: green;
    text-decoration: underline;
}

.liens_partenaires /*Améliorer*/  
{
    width: 175px;
	margin: auto;
	text-align: center;
}

#titre_3
{
	font-size: 20px;
	width: 370px;
	margin: auto;
	margin-bottom: 2px;
}

#titre_4
{
	font-size: 20px;
	width: 340px;
	margin: auto;
	margin-bottom: 2px;
}

#description_site_1, #description_site_2
{
	width: 1200px;
	margin: auto;
	margin-bottom: 80px;
	text-align: center;
}

#titre_5
{
	font-size: 20px;
	width: 810px;
	margin: auto;
	margin-bottom: 2px;
}

#marge_ba
{
	width: 250px;
	margin: auto;
	height: 100px;
}

#bouton_annonce_1
{
	width: 180px;
	background-color: rgb(255,146,36);
	border: 1px solid rgb(255,146,36);
	border-radius: 6px;
	padding: 14px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

#bouton_annonce_1:hover /*Quand je survole les liens*/
{
    color: blue;
}

footer
{
	height: 350px;
	background-image: url('images/image_banniere.jpg');
	color: white;
}

#conteneur_1f
{
	display: inline-flex;
	width: 1250px;
	margin: auto;
	justify-content: space-around; /*Mettre de l'espace entre les blocs*/ 
}

#logo_2
{
	width: 310px;
	margin: auto;
	margin-top: 75px;
}

#logo_2 a
{
	font-size: 15px;
	color: white;
    text-decoration: none;
}

#conteneur_1f ul
{
	list-style-type: none; /*Pour enlever les puces*/
}

#conteneur_1f a
{
	font-size: 16px;
	color: white;
    text-decoration: none;
}

#conteneur_1f a:hover /*Quand je survole les liens*/
{
    color: blue;
    text-decoration: underline;
}