#bloc_page_i
{
	border-radius: 6px;
	width: 470px; /*Largeur du bloc*/ 
	height: 550px; /*Hauteur du bloc*/ 
	margin: auto; /*Centrer le bloc*/
	margin-top: 60px;
	background-attachment: fixed; /* Le fond restera fixe */
	background-image: url('images/image_fond.png'); /*image d'arrière plan*/
	font-family: Arial, "Arial Black","Times New Roman", Verdana, sans-serif; /* Police de caractère différente */
}

#titre_1i
{
	width: 300px;
	padding-top: 5px;
	margin-left: 40px;
	margin-bottom: 20px;
}

#conteneur_1i input /*Dimension des champs*/
{
	height: 30px;
	width: 430px;
	border: 1px solid rgb(255,146,36); /*Bordure des champs*/
	border-radius: 4px;
	font-weight: bold;
}

#conteneur_1i 
{
	margin-left: 15px; /*Pour centrer les champs*/
}

.bloc_i
{
	padding-top: 14px; /*Espacer le haut des champs*/
}

#accepte_condition 
{
	font-size: 13.5px;
	width: 290px;
	height: 7px;
	margin-left: 15px;
	margin-top: 10px;
}

#accepte_condition a /*Sélectionner tous les liens à l'intérieur de cette balise*/
{
	font-size: 13.5px;
	text-decoration: none; /*Enlever les tiret en bas des liens*/
}

#bloc_inscription
{
	width: 430px;
	margin: auto;
	margin-top: 45px;
}

#boutton_inscription
{
	width: 430px;
	height: 43px;
	color:white;
	font-size: 17px;
	background-color: rgb(255,146,36);
	border: 1px solid rgb(255,146,36);
	border-radius: 6px;
}

#boutton_inscription:hover
{
	color: blue;
}

#aides
{
	width: 200px;
	margin-top: 25px;
	margin-left: 19px;
	font-size: 13.5px;
	color: black;
}

#connexion_i
{
	width: 430px;
	margin: auto;
	margin-top: 27px;
}

#boutton_connexion_i
{
	background-color: white;
	width: 430px;
	height: 20px;
	font-size: 17px;
	color: green;
	border: 1px solid green;
	border-radius: 6px;
	padding-left: 160px;
	padding-right: 160px;
	padding-top: 14px;
	padding-bottom: 14px;
	text-decoration: none;
}